.push-notification {
  transform: scale(1);
  position: absolute;
  top: 0px;
  right: -5px;
  background-color: rgba(200, 200, 200, 0.65);
  transform-origin: top right;
  width: 580px;
  height: 145px;
  border-radius: 28px;
  color: #111;
  display: flex;
  align-items: center;
  gap: 36px;
  font-family: "Noto Sans JP", sans-serif;
  z-index: 5;
  backdrop-filter: blur(25px) !important;
  padding: 4px;
  box-shadow: 0px 0px 30px 0px rgba(200, 200, 200, 0.35);
}

section > * {
  font-family: "Noto Sans JP", sans-serif !important;
  text-transform: none !important;
}

.slides section .fragment {
  transition: all 0.1s ease !important;
}

.relative {
  position: relative;
}

.you-can-make-this {
  position: absolute;
  top: 50px;
  right: 0px;
  font-size: 20px;
}

.icon-img {
  margin-top: 30px !important;
  height: 52px;
  width: 52px;
  margin-left: 20px !important;
  border-radius: 16px;
  background-color: white;
  padding: 7px;
  display: inline-block;
}

.slack-notification-content {
  width: 100%;
  text-align: left;
  font-size: 21px;
  font-family: "Roboto", sans-serif;
}

.slack-sansan,
.slack-name {
  font-weight: bold;
}
.slack-message {
  margin-top:0px;
  text-overflow: ellipsis;
  line-height: 145%;
}

.no-select {
  user-select: none;
}

.slack-notification-slide {
  position: relative;
  height: 100%;
}

.fun-rainbow-text {
  position: absolute;
  top: 80px;
  right: 0px;
  font-size: 20px;
}

.rainbow_text_animated {
  font-size: 3em;
  animation: color-change 1s infinite;
  font-family: "Noto Sans JP", sans-serif;
}

@keyframes color-change {
  0% {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: violet;
  }
}

.box {
  margin: 0 auto;
  width: 1240px;
  height: 700px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  transform: translateY(-330px);
}

.box .b1,
.box .b2 {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #999999;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6),
    15px 15px 2px rgba(0, 0, 0, 0.04);
  position: absolute;
}

.box .b1 {
  animation: moveX 2.1s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
}

.box .b2 {
  animation: moveX 2.6s linear 0s infinite alternate,
    moveY 1.7s linear 0s infinite alternate;
}

@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 1220px;
  }
}

@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 680px;
  }
}

@keyframes fadeInLeft {
  0% {
    transform: scale(1) translateX(600px);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}

.fade-in-animate {
  animation: fadeInLeft 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) !important;
}
